APP_NAME=BAPS Backend
APP_PORT=9000
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/baps
JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=43200
