fastapi
uvicorn
python-dotenv
PyJWT
pydantic
pydantic-settings
sqlalchemy
asyncpg
redis
aio-pika
aiosmtplib
python-multipart
bcrypt==3.2.0
passlib[bcrypt]
email-validator
alembic
psycopg2-binary
greenlet
requests
pyotp
python-jose[cryptography]